---
import { siteConfig } from "../../../site.config";
const allLinks = [...siteConfig.navLinks];
import Icon from "../Icons";
import ImageContainer from "../ImageContainer.astro";
import logo from "./logo.webp";
---

<header>
  <nav class="main-menu">
    <div class="container">
      <div class="logo">
        <a href="/" aria-label="Home"
          ><ImageContainer item={logo} alt="logo" className="site-logo" /></a
        >
      </div>
      <div class="right">
        <ul>
          {
            siteConfig.navLinks.map(({ title, url, sub_menu }) => (
              <li>
                <span>
                  <a href={url}>{title}</a>
                  {sub_menu && (
                    <Icon
                      size={24}
                      set="fi"
                      name="FiChevronDown"
                      client:load
                      className="submenu-icon"
                    />
                  )}
                </span>
                {sub_menu && (
                  <ul class="sub-menu">
                    {sub_menu.map(({ title, url }) => (
                      <li>
                        <a href={url}>{title}</a>
                      </li>
                    ))}
                  </ul>
                )}
              </li>
            ))
          }
        </ul>
      </div>
    </div>
  </nav>

  <nav class="mobile">
    <div class="mobile-menu container">
      <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
      </div>
      <!-- <div class="icons">
        <Icon
          size={24}
          set="ci"
          name={"CiSearch"}
          client:load
          className="search-btn"
        />
        <Icon
          size={24}
          set="ci"
          name={"CiShoppingCart"}
          client:load
          className="cart-btn"
        />
      </div> -->
    </div>
    <div class="side-menu-container">
      <Icon
        size={44}
        set="fi"
        name={"FiXOctagon"}
        client:load
        className="close-btn"
      />

      <ul class="sideMenu">
        {
          allLinks.map(({ title, url, sub_menu }) => (
            <li>
              <span class="mobile-submenu">
                <a href={url}>{title}</a>
                {sub_menu && (
                  <Icon
                    size={34}
                    set="fi"
                    name="FiChevronDown"
                    client:load
                    className="submenu-icon"
                  />
                )}
              </span>
              {sub_menu && (
                <ul class="sub-menu">
                  {sub_menu.map(({ title, url }) => (
                    <li>
                      <a href={url}>{title}</a>
                    </li>
                  ))}
                </ul>
              )}
            </li>
          ))
        }
      </ul>
    </div>
    <div class="search">
      <Icon
        size={24}
        set="ci"
        name={"CiSearch"}
        client:load
        className="search-btn"
      />
      <input type="text" class="search-input" placeholder="Search..." />
      <Icon
        size={24}
        set="fi"
        name={"FiXOctagon"}
        client:load
        className="search-close-btn"
      />
    </div>
  </nav>
</header>

<style>
  header {
    position: relative;
    z-index: 50;
    padding-top: 3rem;

    @media (max-width: 773px) {
      padding-top: 0;
    }

    .main-menu {
      @media (max-width: 773px) {
        display: none;
      }
    }
    .container {
      display: flex;
      justify-content: space-between;
      width: 100%;

      .logo {
        .site-logo {
          max-width: 250px;
          @media (max-width: 920px) {
            max-width: 120px;
          }
        }
      }

      .right {
        background-color: #fff;
        padding: 10px 3rem;
        display: flex;
        align-items: center;
        border-radius: 300px;
        ul {
          display: flex;
          gap: 2rem;

          li {
            position: relative;
            &:hover {
              a {
                color: var(--blue);
              }

              svg {
                stroke: var(--blue);
              }
            }
            span {
              display: flex;
              align-items: start;
              gap: 5px;

              svg {
                margin-top: -4px;
                stroke: var(--dark-blue);
              }
            }
            a {
              text-decoration: none;
              color: var(--gray);
              font-weight: bold;
            }

            .sub-menu {
              position: absolute;
              top: 55px;
              background-color: #fff;
              padding: 15px 20px;
              border-radius: 15px;
              width: 11rem;
              opacity: 0;
              visibility: hidden;
              transform: translateY(10px);
              transition:
                opacity 0.3s ease-in-out,
                transform 0.3s ease-in-out,
                visibility 0.3s;
            }

            &:hover {
              .sub-menu {
                opacity: 1;
                visibility: visible;
                transform: translateY(0);
              }
            }
          }
        }
      }
    }
  }

  .mobile {
    position: relative;
    background-color: var(--dark-blue);

    @media (min-width: 773px) {
      display: none;
    }

    @media (max-width: 772px) {
      /* Adjusted to prevent overlap */
      background-color: transparent;
    }

    .mobile-menu {
      padding-top: 2rem;
      padding-bottom: 2rem;
      display: flex;
      justify-content: space-between;

      .icons {
        width: max-content;
        display: flex;
        gap: 2rem;

        svg {
          fill: #fff;
          cursor: pointer;
        }
      }
    }
    .menu-toggle {
      display: flex;
      flex-direction: column;
      cursor: pointer;
      width: max-content;
    }

    .side-menu-container {
      position: absolute;
      transform: translateX(-100%);
      top: 0;
      height: 100vh;
      padding: 2rem;
      background-color: var(--yellow);
      transition: all ease-in-out 0.25s;
      z-index: 3;
      width: 85%;
      ul {
        margin-top: 2rem;
        li {
          margin-bottom: 2rem;
          list-style: none;

          .mobile-submenu {
            display: flex;
            position: relative;
            gap: 2rem;
          }

          .submenu-icon {
            transition: all ease-in-out 0.25s;
            stroke: var(--dark-blue);
          }

          &.opened {
            .submenu-icon {
              transform: rotate(180deg);
            }
          }
          a {
            text-decoration: none;
            color: var(--dark-blue);
            font-weight: 400;
            font-family: "Hey";
            font-size: 30px;
          }

          .sub-menu {
            margin-top: 1rem !important;
            margin-left: 10px;
            display: none;
          }

          /* &.opened {
            .sub-menu {
              display: block;
            }
          } */
        }
      }

      .close-btn {
        cursor: pointer;
      }
    }

    .bar {
      background-color: white;
      height: 3px;
      width: 25px;
      margin: 3px 0;
    }
  }

  .search {
    background-color: var(--yellow);
    display: flex;
    align-items: center;
    gap: 2rem;
    opacity: 0;
    transform: translateY(-20px);
    transition:
      opacity 0.5s ease,
      transform 0.5s ease;
    position: absolute;
    width: 100%;
    padding: 1rem;
    box-sizing: border-box;
    z-index: -1;

    .search-input {
      border: none;
      background: transparent;
      width: 100%;
      padding: 20px 5px;
      font-size: 20px;
      font-family: "Hey";

      &:focus {
        outline: none;
        border: none;
      }

      &::placeholder {
        font-size: 20px;
        font-family: "Hey";
      }
    }

    &.open {
      opacity: 1;
      transform: translateY(0);
      z-index: 2;
    }
  }
</style>

<script>
  $(function () {
    $("#mobile-menu").on("click", function () {
      $(".side-menu-container").css("transform", "translateX(0)");
    });

    $(".close-btn").on("click", function () {
      $(".side-menu-container").css("transform", "translateX(-100%)");
    });

    $("#search").on("click", function () {
      $(".search").toggleClass("open");
    });

    $(".search-close-btn").on("click", function () {
      $(".search").removeClass("open");
    });

    $(".sideMenu .submenu-icon").on("click", function (e) {
      e.preventDefault();
      const $grandparent = $(this).parent().parent().parent();
      $grandparent.toggleClass("opened"); // Toggle class on grandparent
      $grandparent.find(".sub-menu").slideToggle(100); // Toggle submenu visibility
    });
  });
</script>
