---
import Container from "../../components/Container.astro";
import ImageContainer from "../../components/ImageContainer.astro";
import Button from "../../components/Button.astro";
import Plumb from "./img/plumbing.jpg";
import Btn from "../../components/Btn.astro";
---

<!-- <Container bg={HeroImg.src} className="hero-container parallax">
  <div class="hero-contents">
    <ImageContainer item={asSeen} alt="as seen" className="asSeen" />
    <div class="btn-containers">
      <Button href="#" className="btn" name="New Arrivals" />
      <Button href="#" className="btn" name="Shop All" />
    </div>
  </div>
</Container> -->
<div class="hero-container">
  <div class="container">
    <div class="contents first-content">
      <h2>
        Water and wastewater utilities for newly constructed residential
        communities
      </h2>
      <p>
        Waters Advanced supplies clean water and wastewater services to
        customers in newly built residential communities, while also
        facilitating seamless asset adoption for developers.
      </p>
      <div class="btn-container">
        <Button
          href="/link"
          className="btn-one"
          name="about us"
          bgColor="transparent"
          textColor="white"
          hoverBgColor="white"
          hoverTextColor="#162850"
          icon={false}
          border="white"
        />
        <Button
          href="/link"
          className="btn-one"
          name="Contact us"
          bgColor="--yellow"
          textColor="--dark-blue"
          hoverBgColor="#1f9dd9"
          hoverTextColor="white"
          icon={true}
          iconSet="io"
          iconName="IoIosArrowForward"
        />
      </div>
    </div>
    <div class="contents">
      <img src={Plumb.src} alt="" class="masked-img" />
      <div class="bg-container"></div>
    </div>
  </div>
</div>

<style is:inline>
  .hero-container {
    &::after {
      content: "";
      display: block;
      position: relative;
      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 1920 233'%3E%3Cpath fill='%23FFF' fill-rule='evenodd' d='M680 232c307.16 0 644.687-126.077 860-172 124.389-26.53 251.055-46.53 380-60v233H0v-1h680ZM0 148c253.333 56 480 84 680 84H0v-84Z'/%3E%3C/svg%3E");
      height: 14.75rem;
      background-repeat: no-repeat;
      background-size: 100% 100%;
      width: 100%;

      @media (max-width: 750px) {
        height: 5rem;
      }
    }
    background-color: #162850;
    .container {
      padding: 2rem 1rem;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
      gap: 3rem;

      .first-content {
        z-index: 25;
        padding-top: 15%;
      }

      .contents {
        position: relative;
        * {
          margin-bottom: 1rem;
          line-height: normal;
        }

        h2 {
          font-size: 2.5rem;
          color: #fff;

          @media (max-width: 500px) {
            font-size: 1.6rem;
          }
        }

        p {
          color: #fff;
          font-size: 16px;
          line-height: 1.7rem;
          margin-top: 2rem;
        }

        .bg-container {
          height: 110rem;
          display: block;
          position: absolute;
          background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1024 1600'%3E%3Cg fill='%23FFF'%3E%3Cpath d='M486.79 901.853S699.345 637.55 714.957 500.371c13.82 21.015 27.77 41.128 41.334 60.467C740.935 683.191 524.157 957.164 512 974.827c-36.727 49.25-58.61 85.48-58.61 109.46 0 32.49 26.234 59.049 58.61 59.049 32.248 0 58.61-26.43 58.61-59.05 0-14.31-7.935-33.005-20.604-54.278 8.574-12.635 23.035-31.845 40.694-55.826 26.874 40.226 44.15 76.326 44.15 110.105 0 68.203-55.027 123.771-122.85 123.771-67.695 0-122.85-55.44-122.85-123.771 0-48.348 32.888-99.404 97.512-182.434h.128Z' opacity='.05'/%3E%3Cpath d='M380.577 832.361c35.959-45.512 214.218-272.168 255.936-462.079a1582.163 1582.163 0 0 0 42.87 74.263c-20.348 141.047-223.561 396.454-248.643 428.17-57.457 72.587-107.109 135.246-107.109 211.7 0 104.562 84.459 189.654 188.241 189.654 103.782 0 188.241-85.092 188.241-189.653 0-59.307-30.073-110.492-70.382-164.384 12.412-17.405 25.465-36.1 38.518-55.826 52.083 67.43 96.104 134.601 96.104 220.08 0 140.275-113.252 254.376-252.481 254.376-139.23 0-252.48-114.101-252.48-254.375 0-99.017 58.864-173.28 121.185-252.055v.129Z' opacity='.06'/%3E%3Cpath d='M294.454 735.02c162.008-209.766 244.931-365.77 272.06-515.197l34.296 80.064c-19.323 96.696-53.875 164.9-88.81 229.621-51.187 99.146-112.228 176.374-167.254 245.867C260.543 881.74 194 965.802 194 1084.287c0 176.632 142.684 320.387 318 320.387s318-143.755 318-320.387c0-106.366-53.49-184.883-125.28-276.68 12.029-19.597 23.674-39.71 34.68-60.08 84.074 106.494 154.84 200.87 154.84 336.76 0 212.345-171.477 385.109-382.24 385.109s-382.24-172.764-382.24-385.11c0-141.176 77.676-236.583 164.694-349.266Z' opacity='.04'/%3E%3Cpath d='M208.972 640.645C324.655 488.896 487.686 248.445 512 0c4.735 48.993 14.972 97.599 29.177 145.302C491.525 370.411 351.4 560.064 259.903 679.968 154.969 817.663 64.24 936.664 64.24 1084.158c0 248.703 200.91 451.12 447.76 451.12s447.76-202.417 447.76-451.12c0-145.044-87.658-262.498-190.416-397.228 10.749-23.98 19.963-47.961 26.873-71.297 6.398 8.509 12.669 16.89 18.811 24.883C922.521 781.434 1024 914.617 1024 1084.158 1024 1368.574 794.297 1600 512 1600S0 1368.574 0 1084.158c0-169.54 101.479-302.724 208.972-443.642v.129Z' opacity='.02'/%3E%3C/g%3E%3C/svg%3E");
          background-repeat: no-repeat;
          background-size: cover;
          z-index: 10;
          right: -20rem;
          bottom: -40rem;
          background-position: center center;
          max-width: none;
          width: 70rem;

          @media (max-width: 719px) {
            background-size: contain;
            height: 100vh;
            bottom: 0rem;
            right: -40rem;
          }
        }

        .masked-img {
          height: calc(100% + 30rem);
          bottom: -20rem;
          right: -10rem;
          max-width: none;
          width: 40rem;
          z-index: 20;
          position: absolute;
          mask-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 504.962 691.953'%3E%3Cpath d='M295.826 66.357c39.72 58.1 74.215 101.91 87.95 119.294v-.128l8.814 11.15c55.602 70.47 106.296 138.414 111.865 225.073l.092 1.506.108 2.007.07 1.472.078 1.958.061 1.938.038 1.482.028 1.521c.021 1.312.032 2.627.032 3.947 0 140.274-113.252 254.376-252.481 254.376C113.25 691.953 0 577.85 0 437.577c0-1.165.008-2.328.024-3.486l.017-1.005.037-1.732.04-1.412.06-1.76.077-1.845.113-2.25.045-.807.089-1.436C6.329 330.576 62.21 260.07 121.186 185.523v.128l4.893-6.205c11.041-14.044 39.96-53.55 86.755-118.518L252.48 0l43.345 66.357Z'/%3E%3C/svg%3E");
          mask-repeat: no-repeat;
          mask-position: center;
          object-fit: cover;

          @media (max-width: 718px) {
            bottom: 0rem;
            right: -25rem;
          }
        }

        .btn-container {
          margin-top: 2rem;
          display: flex;
          gap: 2rem;

          @media (max-width: 500px) {
            flex-direction: column;
            gap: 15px;
          }
        }
      }
    }
  }
  .hero-contents {
    height: 75vh;
    position: relative;
    display: block;
    border: 1px solid transparent;

    .asSeen {
      max-width: 150px;
      margin-inline: auto;
      margin-top: 5%;
    }

    .btn-containers {
      margin-top: 5%;
      display: flex;
      gap: 1rem;
      justify-content: center;

      @media (max-width: 500px) {
        flex-direction: column;
        align-items: center;
      }
    }
  }

  .cta-container {
    background-color: var(--yellow);
    border: 1px solid transparent;
    padding-top: 3%;
    padding-bottom: 3%;

    @media (max-width: 500px) {
      padding: 2rem 0;
    }

    .container {
      h2 {
        text-align: center;
        color: var(--dark-blue);
      }
    }
  }

  .landscape-container {
    position: relative;

    &::before {
      position: absolute;
      content: "";
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background-color: rgba(0, 0, 0, 0.3);
      display: block;
      z-index: 0;
    }

    .container {
      z-index: 1;
      display: block;
      position: relative;

      h3 {
        color: #fff;
      }
    }
  }

  .info-container {
    padding-top: 2%;
    padding-bottom: 2%;

    @media (max-width: 500px) {
      padding: 2rem 0;
    }

    .container {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
      gap: 3rem;
      margin: 0 !important;
      @media (max-width: 981px) {
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
      }
      @media (max-width: 500px) {
        margin-top: 2rem;
        gap: 10px;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      }

      h6 {
        text-align: center;
        text-transform: uppercase;
        color: var(--dark-blue);

        &:not(:last-child) {
          border-right: 1px solid var(--dark-blue);
        }

        @media (max-width: 500px) {
          &:not(:last-child) {
            border: none;
          }
          margin: 5px;
        }
      }
    }
  }

  .empty {
    min-height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    h3 {
      max-width: 390px;
      text-align: center;
    }
  }
</style>

<script>
  $(window).on("scroll", function () {
    const scrollTop = $(window).scrollTop() || 0; // Fallback to 0 if undefined
    $(".parallax").each(function () {
      const speed = 0.5; // Adjust speed as needed
      const offset = scrollTop * speed;
      $(this).css("background-position", `center calc(100% + ${offset}px)`);
    });
  });
</script>
